<h2 mat-dialog-title>View Dogs</h2>

<mat-dialog-content>

  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Description</td>

        <td colspan="3">Actions</td>
      </tr>
    </thead>
    
      <tr *ngFor="let item of items">
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td><button mat-button color="primary" type="button" (click)="update(item)">Update</button></td>
        <td><button mat-button color="primary" type="button" (click)="detail(item)">View</button></td>
        <td><button mat-button color="warn" type="button" (click)="delete(item)">Delete</button></td>
      </tr>

   
  </table>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="create()">Create</button>
  <button mat-button color="primary" matDialogClose>Close</button>
</mat-dialog-actions>